<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee          http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- VNPay config (fallback khi không set biến môi trường) -->
    <context-param>
        <param-name>VNP_TMN_CODE</param-name>
        <param-value>UYP6EQX7</param-value>
    </context-param>
    <context-param>
        <param-name>VNP_HASH_SECRET</param-name>
        <param-value>3YHPTL9CFK3UDW35X1027EM281Q8N9IB</param-value>
    </context-param>
    <context-param>
        <param-name>VNP_RETURN_URL</param-name>
        <param-value>http://localhost:9999/p03/reception/payment/return</param-value>
    </context-param>
    <context-param>
        <param-name>VNP_IPN_URL</param-name>
        <param-value>http://localhost:9999/p03/reception/payment/ipn</param-value>
    </context-param>
    <!-- Servlets -->
    <servlet>
        <servlet-name>PermissionManagementServlet</servlet-name>
        <servlet-class>control.PermissionManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PermissionManagementServlet</servlet-name>
        <url-pattern>/permission-management</url-pattern>
    </servlet-mapping>
    <!-- Filters -->
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>filter.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/permission-management</url-pattern>
        <url-pattern>/manager/*</url-pattern>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <!-- Welcome File -->
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
